@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Css reset */

/* body{
    background-color: #0F0F0F;
    color: #fff;
} */

/* #main-layout{
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 3.2rem auto;
    padding: 1rem;

} */

/* #navbar{
    grid-column: 1 / 3;
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */


/* #logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    padding-left: .5rem;
} */

/* #search-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* #search-container input{
    background-color: transparent;
    padding: .5rem 1rem;
    border: 1px solid #282828;
    border-radius: 1rem;
    width: 100%;
} */

/* #user-icon{
    display: flex;
    justify-content: flex-end;
} */

/* #user-icon img{
    width: 10%;
} */

/* #menu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
   padding: 0 1rem 0 0;
} */

/* #menu .menu-items{
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
    align-items: center;
    } */
    
    /* #menu .menu-items:hover{
        background-color: #282828;
        padding: 1rem;
        border-radius: 10px;
        } */
        
/* #content {
    grid-column: 2/3;
    grid-row: 2/3;
    
} */

/* #categories-list{
    display: flex;
    flex-direction: row;
    gap: 1rem;
} */

/* .category{
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #282828;
} */

/* .category:hover{
    cursor: pointer;
    color: #282828;
    background-color: #fff;
} */

/* .video-card{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.video-card img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    
} */

#videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 1rem;
}

/* .video-card footer{
    display: grid;
    gap: .5rem;
    grid-template-columns: 3rem 1fr;
} */

/* .video-card footer img{
    grid-column: 1 / 2;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
} */

/* .video-card-title, .video-card-chanel{
    grid-column: 2 / 3;
} */

/* .special {
    border: 1px solid red;
} */